<p id="notice"><%= notice %></p>

<h1>Solds</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Price</th>
      <th>Closed</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @solds.each do |sold| %>
      <tr>
        <td><%= sold.article.name %></td>
        <td><%= sold.price %></td>
        <td><%= sold.closed %></td>
        <% if sold.closed %>
          <td>
              <% if sold.accept %>
                Accepté par le vendeur
              <% else %>
                Refusé par le vendeur
              <% end %><%= sold.updated_at.strftime("%d/%m/%y") %>
          </td>
        <% else %>
          <td ><%= link_to 'Annuler', sold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sold', new_sold_path %>
