<p id="notice"><%= notice %></p>

<h1>Solds</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Propose par</th>
      <th>Price</th>
      <th>Closed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solds.each do |sold| %>
      <tr>
        <td><%= sold.article.name %></td>
        <td><%= sold.user.email %></td>
        <td><%= sold.price %></td>
        <td><%= sold.closed %></td>
        <td><%= link_to 'Show', sold %></td>
        <td><%= link_to 'Edit', edit_sold_path(sold) %></td>
        <td><%= link_to 'Destroy', sold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sold', new_sold_path %>
