<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<div>
      <% if @article.images.attached? %>
        <div id="carouselExampleSlidesOnly" class="carousel slide carou-size" data-ride="carousel">
          <div class="carousel-inner">
                <% @article.images.each do |img|%>
                  <div class="carousel-item active">
                    <%= image_tag( url_for(img) , :alt => "img", class: "d-block w-100") %>
                  </div>
                <%end%>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          
          
        </div>
      <% end %>
</div>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @article.desc %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @article.sold %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @article.condition %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
