<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @conversation.article_id %>
</p>

<p>
  <strong>C seller:</strong>
  <%= @conversation.c_seller_id %>
</p>

<p>
  <strong>C buyer:</strong>
  <%= @conversation.c_buyer_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
