<%= form_with(model: conv_message) do |form| %>
  <% if conv_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conv_message.errors.count, "error") %> prohibited this conv_message from being saved:</h2>

      <ul>
        <% conv_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conversation_id %>
    <%= form.text_field :conversation_id %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
