<p id="notice"><%= notice %></p>

<h1>Conv Messages</h1>

<table>
  <thead>
    <tr>
      <th>Conversation</th>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conv_messages.each do |conv_message| %>
      <tr>
        <td><%= conv_message.conversation_id %></td>
        <td><%= conv_message.user %></td>
        <td><%= conv_message.message %></td>
        <td><%= link_to 'Show', conv_message %></td>
        <td><%= link_to 'Edit', edit_conv_message_path(conv_message) %></td>
        <td><%= link_to 'Destroy', conv_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conv Message', new_conv_message_path %>
